doctype html
html(lang="hu")
	head
		title 3hétGaléria
		link(href='/css/main.css', rel='stylesheet')
		link(href='/css/event.css', rel='stylesheet')
		meta(charset='utf-8')
	body
		include nav.pug
		//- csangoborokazasborokaval
		img(src=`/exibs/${event.directory}/cover.webp`).eventCover
		//- img(srcset='sCover.webp 480w, mCover.webp 768w, lCover.webp 1920w' alt='Exhibition cover image')
		main
			h1 #{event.artist} - 
			h1 #{event.title}
			p #{event.date.toISOString().substr(0, 10)}
			.tags
				each tag in event.tags
					p #{tag}
			p #{event.description}
			.galeri
				each i in Array.from(Array(event.numImages).keys())
					- const imageName = ('0' + (i + 1)).slice(-2) + '.jpg'
					img(src=`/exibs/${event.directory}/gal/L/${imageName}`)