doctype html
html(lang="hu")
	head
		title 3/7Galery
		link(href='/css/main.css', rel='stylesheet')
		meta(charset='utf-8')
	body
		include nav.pug
		main.eventMain
			.eventcont
				each item in data
					.exibcard
							img(src=`/exibs/${item.directory}/cover.webp`)
							h4= item.title
							p= item.date.toISOString().substr(0, 10)
							p #{item.description}
							button(onclick=`window.location.href='/exibs/${item.directory}/eventPage.html'`) bővebben
							//- button(onclick="window.location.href='exeb1_220319/eventPage.html'") bővebben
							
				//- each i in [1, 2, 3, 4, 5]
				//- 	.exibcard
				//- 		img(src='/img/img.png')
				//- 		h4 Urban Transparency
				//- 		p 2022-03-19
				//- 		p.
				//- 			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				//- 		button(onclick="window.location.href='exeb1_220319/eventPage.html'") bővebben
	include footer.pug